<!DOCTYPE html>
<html>
<%= render "/shared/headref" %>

<body class="<%= @bodyclass %>">
    <%= render "/shared/nav-main" %>

    <%= yield %>

    <section class="page">
        <%= render "/shared/footer" %>
    </section>
</body>
</html>
